<div class="card">
    {% if include.post.image %}
    <a class="card-image" href="{{ include.post.url }}">
        <figure class="image is-16by9"
            style="margin: 0;background-size: cover; background-position: center center; background-image: url({{ include.post.image }});">
        </figure>
    </a>
    {% endif %}
    <div class="card-content">
        <a class="content" href="{{ include.post.url }}">
            <p class="title is-6">
                {{ include.post.title }}
            </p>
            <p>
                {% for tag in post.tags limit:3 %}
                <span class="tag is-small is-link is-light">{{ tag }}</span>
                {% endfor %}
            </p>
        </a>
    </div>
</div>