<div class="block">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="/images/projects/{{ include.image }}">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ include.title }}</strong> <small>{{ include.subtitle }}</small>
                            <br>
                            {{ include.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>