<div class="field is-grouped is-grouped-multiline">
    <div class="control">
        <a {% if page.issue %} href="https://git.haslab.org/haslab/haslab.org/issues/{{ page.issue }}" {% endif %} class="tags has-addons">
            <span class="tag icon is-dark"><i class="far fa-calendar"></i></span>
            <span class="tag is-info"> {{ page.date | date: "%Y-%m-%d" }} </span>
        </a>
    </div>

    <div class="control">
        {% include bulma_member.html nick=page.author %}
    </div>

    {% for tag in page.tags %}
    <div class="control">
        <a href="/tags/#{{ tag | downcase | slugify }}" class="tags has-addons">
            <span class="tag icon is-dark"><i class="fas fa-hashtag"></i></span>
            <span class="tag is-info">{{ tag }}</span>
        </a>
    </div>
    {% endfor %}
</div>