<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.jpg" height="28">
            </a>
            <div class="navbar-item is-hidden-desktop">
                {% include bulma_search.html %}
            </div>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    <span class="icon has-text-info">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <span>主页</span>
                </a>

                <a class="navbar-item" href="/blog/">
                    <span class="icon has-text-danger">
                        <i class="fas fa-rss"></i>
                    </span>
                    <span>博客</span>
                </a>

                <a class="navbar-item" href="/tags/">
                    <span class="icon has-text-success">
                        <i class="fas fa-hashtag"></i>
                    </span>
                    <span>标签</span>
                </a>

                <a class="navbar-item" href="/docs/">
                    <span class="icon has-text-warning">
                        <i class="fas fa-book"></i>
                    </span>
                    <span>文档</span>
                </a>

                <a class="navbar-item" href="/members/">
                    <span class="icon has-text-grey">
                        <i class="fas fa-user"></i>
                    </span>
                    <span>成员</span>
                </a>

            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="https://github.com/has-lab">
                    <span class="icon has-text-dark">
                        <i class="fab fa-github"></i>
                    </span>
                    <span class="is-hidden-desktop">Github</span>
                </a>
                <a class="navbar-item" href="https://gitee.com/has-lab">
                    <span class="icon has-text-danger">
                        <i class="fab fa-git"></i>
                    </span>
                    <span class="is-hidden-desktop">Gitee</span>
                </a>
                <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                    {% include bulma_search.html %}
                </div>
            </div>

        </div>
    </div>
</nav>
