<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.jpg" height="28">
            </a>
            <div class="navbar-item is-hidden-desktop">
                {% include bulma_search.html %}
            </div>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    <span class="icon has-text-primary">
                        <i class="far fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>

                <a class="navbar-item" href="/members/">
                    <span class="icon has-text-link">
                        <i class="far fa-user"></i>
                    </span>
                    <span>Members</span>
                </a>

                <a class="navbar-item" href="/publications.html">
                    <span class="icon has-text-danger">
                        <i class="fas fa-file"></i>
                    </span>
                    <span>Publications</span>
                </a>

                <a class="navbar-item" href="/research.html">
                    <span class="icon has-text-warning">
                        <i class="far fa-coffee"></i>
                    </span>
                    <span>Research</span>
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon has-text-success">
                            <i class="far fa-bookmark"></i>
                        </span>
                        <span>Others</span>
                    </a>
                
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/blog/">
                            <span class="icon has-text-success">
                                <i class="fas fa-rss"></i>
                            </span>
                            <span>Blog</span>
                        </a>

                        <hr class="navbar-divider">

                        {% assign docs = site.docs | where_exp: "item", "item.doc > 0" | sort: "doc", "last" %}
                        {% for doc in docs %}
                            <a class="navbar-item" href="{{ doc.url }}">
                                <span class="icon has-text-success">
                                    <i class="far fa-paper-plane"></i>
                                </span>
                                <span>{{ doc.title }}</span>
                            </a>
                        {% endfor %}

                        <hr class="navbar-divider">

                        {% assign lectures = site.lectures | where_exp: "item", "item.doc > 0" | sort: "doc" | reverse %}
                        {% for lecture in lectures %}
                        <a class="navbar-item" href="{{ lecture.url }}">
                            <span class="icon has-text-success">
                                <i class="fas fa-book"></i>
                            </span>
                            <span>{{ lecture.title }}</span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="https://git.haslab.org">
                    <span class="icon has-text-danger">
                        <i class="fab fa-git"></i>
                    </span>
                    <span class="is-hidden-desktop">Git</span>
                </a>
                <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                    {% include bulma_search.html %}
                </div>
            </div>

        </div>
    </div>
</nav>
