<div class="menu">
    {% if include.title %}
    <p class="menu-label">{{include.title}}</p>
    {% endif %}
    <ul class="menu-list">
        {% assign section = true %}
        {% assign first = true %}
        {% assign menu = include.menu | sort: "order", "last" %}

        {% for link in menu %}
        {% if first %}
            {% if link.section %}
                <li>
            {% else %}
                <li><ul><li>
            {% endif %}
            {% assign first = false %}
        {% else %}
            {% if section %}
                {% if link.section %}
                    </li><li>
                {% else %}
                    <ul><li>
                {% endif %}
            {% else %}
                {% if link.section %}
                    </li></ul></li><li>
                {% else %}
                    </li><li>
                {% endif %}
            {% endif %}
        {% endif %}

        <a class="{% if page.url == link.url %}is-active{% endif %}" href="{{ link.url }}">{{link.title}}</a>

        {% assign section = link.section %}
        {% endfor %}
        {% if section %}
            </li>
        {% else %}
            </li></ul></li>
        {% endif %}
    </ul>
</div>