<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="content has-text-left">
          <strong>华中科技大学</strong><br/>
          武汉光电国家研究中心<br/>
          光电信息存储研究部
        </div>
      </div>
      <div class="column is-4">
      </div>
      <div class="column is-4">
        <div class="content has-text-right">
          <strong>HASLAB</strong><br/>
          高性能体系结构与系统实验室<br/>
          High-performance Architecture and System Laboratory
        </div>
      </div>
    </div>
  </div>
</footer>