<div class="card" id="{{ include.member.nick | slugify }}">
    <div class="card-content">
        <div class="media">
            <a class="media-left" href="https://github.com/{{ include.member.github }}">
                <figure class="image is-96x96">
                    {% avatar user=include.member.github size=96 %}
                </figure>
            </a>
            <div class="media-content">
                <p class="title">{{ include.member.cn }}</p>
                <p class="subtitle">{{ include.member.en }}</p>
            </div>
        </div>
        <div class="content">
            <p>{{ include.member.description }}</p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">{{ include.member.email }}</p>
        </footer>
    </div>
</div>