<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>
const gitalk = new Gitalk({
  clientID: 'dc969eb9bef6bada15aa',
  clientSecret: 'b54be559db858f93ca2e2d769f7fda9d2b5f8fbd',
  repo: 'has-lab.github.io',
  owner: 'has-lab',
  admin: ['janzhou'],
  labels: ['comment'],
  id: location.pathname.slice(0,50),
  distractionFreeMode: false
})

gitalk.render('gitalk-container')
</script>