---
title: 科研项目
subtitle: Research Projects
layout: page
permalink: /projects.html
---

<div class="content">
  <h1>Research Topics</h1>
</div>

<div class="columns is-multiline">
  <div class="column is-half">
    {% include bulma_project_card.html image="csd.png" title="Computational Storage Device (CSD)" subtitle="可计算存储设备" %}
  </div>
  <div class="column is-half">
    {% include bulma_project_card.html image="ssd.png" title="Solid-State Storage (SSS)" subtitle="固态存储系统" %}
  </div>
  <div class="column is-half">
    {% include bulma_project_card.html image="uma.png" title="Unified Memory-Storage Architecture (UMA)" subtitle="统一内外存架构" %}
  </div>
  <div class="column is-half">
    {% include bulma_project_card.html image="nvm.png" title="Emerging Non-Volatile Memories (NVM)" subtitle="新型非易失性内存" %}
  </div>
  <div class="column is-half">
    {% include bulma_project_card.html image="rdma.png" title="Remote Direct Memory Access (RDMA)" subtitle="远程直接数据访问" %}
  </div>
  <div class="column is-half">
    {% include bulma_project_card.html image="disaggregated.png" title="Disaggregated Storage Architecture" subtitle="分离式存储架构" %}
  </div>
</div>

<div class="content">
  <h1>Research Grants</h1>

  {% assign starts = site.data.projects | group_by: 'start' | sort: 'name' | reverse %}

  {% for start in starts %}
  <h2>{{ start.name }}</h2>

  {% assign ends = start.items | group_by: 'end' | sort: 'name' | reverse %}

  {% for end in ends %}

  {% assign projects = end.items | sort: 'amount' |reverse %}

  {% for project in projects %}

  <div class="box">
    {% if project.type == '基金' %}
    <span class="tag is-danger">
      {{project.type}}
    </span>
    {% else %}
    <span class="tag is-warning">
      {{project.type}}
    </span>
    {% endif %}
    {% if project.role == '主持' %}
    <span class="tag is-primary">
      {{project.role}}
    </span>
    {% else %}
    <span class="tag is-link">
      {{project.role}}
    </span>
    {% endif %}
    {{project.grant}}，{{project.title}}，{{project.amount}}万，{{project.start}}-{{project.end}}。
  </div>

  {% endfor %}

  {% endfor %}
  {% endfor %}
</div>