---
title: Tags
layout: page
permalink: /tags/
---

{% capture tags %}
{% for tag in site.tags %}
{{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}|
{% endfor %}
|
{% endcapture %}
{% assign sorted_tags = tags | strip_newlines | remove: "||" | split:'|' | compact | sort %}

<div class="field is-grouped is-grouped-multiline">
    {% for item in sorted_tags reversed %}
    {% assign tag = item | split: '#' %}
    <div class="control">
        <a href="#{{ tag[1] | slugify }}" class="tags has-addons">
            <span class="tag is-dark"><span class="icon"><i class="fas fa-tags"></i></span>&nbsp;{{ tag[2] }}</span>
            <span class="tag is-info">{{ tag[1] }}</span>
        </a>
    </div>
    {% endfor %}
</div>

{% for tag in site.tags %}
<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
<div class="columns is-multiline">
    {% for post in tag[1] %}
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        {% include bulma_post_card.html post=post %}
    </div>
    {% endfor %}
</div>
{% endfor %}