---
title: 论文早读
layout: page
permalink: /tags/
---

<div class="content">
    <div class="tabs is-centered">
        <ul>
            <li><a href="/blog/">
                <span class="icon has-text-link">
                    <i class="fa-solid fa-bars"></i>
                </span>
                <span>归档</span>
            </a></li>
            <li class="is-active"><a href="/tags/">
                <span class="icon has-text-info">
                    <i class="fas fa-hashtag"></i>
                </span>
                <span>标签</span>
            </a></li>
        </ul>
    </div>
</div>

{% capture tags %}
{% for tag in site.tags %}
{{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}|
{% endfor %}
|
{% endcapture %}
{% assign sorted_tags = tags | strip_newlines | remove: "||" | split:'|' | compact | sort %}

<div class="field is-grouped is-grouped-multiline">
    {% for item in sorted_tags reversed %}
    {% assign tag = item | split: '#' %}
    <div class="control">
        <a href="#{{ tag[1] | slugify }}" class="tags has-addons">
            <span class="tag is-dark"><span class="icon"><i class="fas fa-hashtag"></i></span>&nbsp;{{ tag[2] }}</span>
            <span class="tag is-info">{{ tag[1] }}</span>
        </a>
    </div>
    {% endfor %}
</div>

{% for tag in site.tags %}
<h2 id="{{ tag[0] | downcase | slugify }}">{{ tag[0] }}</h2>
<div class="columns is-multiline">
    {% for post in tag[1] %}
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        {% include bulma_post_card.html post=post %}
    </div>
    {% endfor %}
</div>
{% endfor %}