---
layout: bulma
---

{% include bulma_navbar.html %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{page.title}}</h1>
            {% if page.subtitle %}
            <h2 class="subtitle">{{page.subtitle}}</h2>
            {% endif %}
        </div>
    </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="content">
                {{content}}
            </div>
            {% assign menu = site[page.collection] | where_exp: "item", "item.doc > 0" | sort: "doc", "last" %}
            {% assign collection = site.collections | where: "label", page.collection | first %}
            {% include bulma_menu.html title="目录" menu=menu %}
        </div>
    </div>
  </div>
</section>

{% include bulma_footer.html %}