---
layout: bulma
---

{% include bulma_navbar.html %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{page.title}}</h1>
            {% include bulma_post_tags.html %}
        </div>
    </div>
</section>

<div class="columns is-centered">
    <div class="column is-three-quarters-desktop">
        <section class="section">
            <div class="container">
                <div class="content">
                    {{content}}
                </div>
            </div>
        </section>

        {% include bulma_post_related.html %}

        <section class="section">
            <div class="container">
                {% include disqus.html %}
            </div>
        </section>
    </div>
</div>

{% include bulma_footer.html %}